:root {
  --paragraph: #666666;
  --primaryo: #fa7436;
  --secondaryo: #fd8d3a;
  --primaryb: #222222;
  --colouroff: #989898;
  --colouroff1: #e5e5e5;
  --colourb1: #444444;
  --white: #ffffff;
}
/* -------- HEADER ---------*/

body {
  max-width: 61%;
  margin: 0 auto;
}
nav {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: var(--primaryb);
}
nav img {
  color: var(--paragraph);
}

hero {
  height: 100vm;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
}

hero span {
  max-width: 75%;
  color: var(--primaryo);
}

hero h1 {
  max-width: 75%;
  color: var(--primaryb);
  line-height: 4.5rem;
}

hero p {
  max-width: 75%;
  line-height: 2.5rem;
  color: var(--paragraph);
  font-size: x-large;
}

hero button {
  font-size: medium;
  color: #fa7436;
  border-color: #fa7436;
  border-radius: 5%;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.nav-left {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav-login {
  color: var(--secondaryo);
}

.nav-signup {
  color: var(--white);
  background-color: var(--primaryo);
  padding: 1rem 3.2rem;
  border-radius: 5px;
}

.logo-text {
  font-size: x-large;
  font-weight: 700;
}
.nav-title {
  display: flex;
  gap: 40px;
}

.hero-img {
  z-index: -2;
}

.hero-circle {
  top: 28rem;
  right: 18%;
  position: absolute;
  z-index: -1;
  background-color: var(--primaryo);
  width: 500px;
  height: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

/* .hero-box {
  width: 150px;
  position: absolute;
  z-index: 2;
} */

.hero-searchbar-container {
  max-width: 70%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.content-card {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
search span {
  color: var(--primaryb);
  font-weight: 600;
}

search p {
  color: var(--paragraph);
  font-size: small;
}

search button {
  font-size: medium;
  background-color: #fa7436;
  color: #ffffff;
  border-color: #fa7436;
  border-radius: 5%;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

/* -------- HEADER ---------*/

/* ------- things -------- */
.Heading-container h1 {
  position: relative;
  color: var(--primaryb);
}

.Heading-container span {
  color: var(--primaryo);
}

.Heading-container p {
  color: var(--paragraph);
  font-size: large;
  max-width: 38%;
  text-align: center;
  margin-top: 0;
  line-height: 2rem;
}

.Heading-container {
  margin: 0 auto;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.card-container {
  max-width: 30%;
}

.Heading-card {
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
}

.thingsYouNeed-container h1,
h3 {
  color: var(--primaryb);
}

.thingsYouNeed-container p {
  color: var(--paragraph);
}

thingsYouNeed h3
/* ------- things -------- */

/* -------- TEXT STYLES ---------*/

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}
/* --------TEXT STYLES---------*/
